@use "../base/base";
@use "../base/reset";
@use "../global" as *;


// ピクパ再確認

.lg-none {
  @include mq("lg") {
    display: none;
  }
}

.lg-show {
  display: none;

  @include mq("lg") {
    display: block;
  }
}

// ヘッダー
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 1000;

  @include mq("lg") {
    height: 50px;
  }
}

.header__inner {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 94.5%;
  height: 90px;
  background-color: $white2;
  border-radius: 100px;
  box-shadow: 0 3px 6px #00000029;
  z-index: 1000;
  
  @include mq("lg") {
    width: 100vw;
    height: 100%;
    border-radius: 0;
    top: 0;
    left: 0;
    transform: none;
  }
}

.header__name {
  width: 168px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 41px;

  @include mq("lg") {
    width: 116px;
    margin-left: 10px;
  }
}

.header__nav {
  height: inherit;
  margin-left: auto;
}

.header__items {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item:not(:first-child) {
  margin-left: 30px;
}

.header__link {
  font-size: $base;
  font-weight: $bold;
  letter-spacing: 0.8px;
  line-height: calc(12/16);
  color: $gray;
}

.button--header {
  width: fit-content;
  margin-right: 30px;
  margin-left: 20px;
  padding: 9px 26px;
  background-color: $orange;
  border-radius: 24px;
}

.button__link--header {
  font-size: $base;
  font-weight: $bold;
  line-height: calc(30/16);
  color: $white;
}

// ハンバーガーメニュー
.hamburger {
  position: fixed;
  right: 6px;
  top: 14px;
  width: 28px;
  height: 24px;
  z-index: 9999;
}

.hamburger.is-active {
  top: 10px;
  right: 10px;
}

.hamburger__line {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 23px;
  height: 2px;
  background-color: $green;
  border-radius: 1px;
  transition: transform 0.3s opacity 0.3s;
}

.hamburger__line:nth-child(2) {
  top: 7px;
}

.hamburger__text {
  position: absolute;
  top: 12px;
  left: 0;
  display: block;
  font-size: 10px;
  font-weight: $semibold;
  line-height: calc(14/10);
  color: $green;
  &::before {
    content: "MENU";
  }
}

.hamburger.is-active .hamburger__line {
  top: 8px;
  left: 4px;
  transform: rotate(25deg);
}

.hamburger.is-active .hamburger__line:nth-child(2) {
  top: 8px;
  right: 4px;
  transform: rotate(-25deg);
}

.hamburger.is-active .hamburger__text {
  &::before {
    content: "CLOSE";
    margin: 0 auto;
  }
}

// ドロワーメニュー
.drawer-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  z-index: 999;
  display: none;
}

.drawer-menu__inner {
  width: 100%;
  height: inherit;
  margin-top: 50px;
  padding: 0 15px;
}

.drawer-menu__item {
  position: relative;
  padding: 16px 0 15px;
  border-bottom: 1px solid $green;
}

.drawer-menu__link {
  font-size: $base;
  font-weight: $bold;
  line-height: calc(12/16);
  letter-spacing: 0.8px;
  color: $gray;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: $green;
    border-radius: 1px;
  }

  &::before {
    position: absolute;
    top: 56%;
    right: 0;
    transform: translateY(-56%);
    width: 25px;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
  }
}

.drawer-menu__link--en {
  font-size: $xs;
  font-weight: $regular;
  line-height: calc(16/12);
  letter-spacing: 0.6px;
  margin-left: 9px;
  color: $orange;
}

.drawer__contact {
  width: 100%;
  display: flex;
  font-display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}

.drawer__tel {
  text-align: center;
}

.drawer__tel-text {
  font-size: $sm;
  font-weight: $bold;
  line-height: calc(19/14);
  color: $green;
}

.drawer__tel-number {
  font-family: YuGothic, "Yu Gothic", "游ゴシック", sans-serif;
  font-size: $xl;
  font-weight: $bold;
  line-height: calc(27/20);
  color: $green;
}

.drawer__hours {
  text-align: center;
  margin-top: 7px;
}

.drawer__hours-text {
  font-family: YuGothic, "Yu Gothic", "游ゴシック", sans-serif;
  font-size: $sm;
  font-weight: $bold;
  line-height: calc(21/14);
  color: $green;
}

.drawer__hours-number {
  font-family: YuGothic, "Yu Gothic", "游ゴシック", sans-serif;
  font-size: $sm;
  font-weight: $bold;
  line-height: calc(21/14);
  color: $green;
}

.drawer__button.button--header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 21px;
  width: 300px;
  height: 48px;
  margin: 21px auto 0;
}










